
/* Rule */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
} 

/* Utility */
.container_page{
    width: calc(100% - 220px);
    margin-left: 220px;
}

.vh100{
   height: calc(100vh - 80px);
}

.br_05{
    filter: brightness(0.5);
}

/* Colors */
.bg_black{
    background-color: #000000;
}

.bg_main{
    background-color: #141922;
}

.text_grey{
    color: #797B80;
}



/* Head navbar */
.head_navbar{
    background-color: #0000003f;
    position: fixed;
    width: 100%;
    top: 0;
}

#btn_upgrade{
    padding: .5rem 2rem;
    border-radius: 20px;
    font-size: .7rem;
    font-weight: 600;
}


/* Vertical navbar */
.vertical_navbar{
    position: fixed;
    top: 0;
    width: 220px;
}

.nav-link{
    padding: .3rem 0;
    font-size: .8rem;
}

.logo > img{
    height: 2rem;
}

.logo_small{
    display: none;
}

.install_app{
    font-size: .7rem;
}

.user{
    font-size: .8rem;
}

#black_plus{
    color: #000000;
    font-size: 1rem;
    margin-right: .4rem;
    padding: .45rem .65rem;
}

.vertical_link_active{
    border-left: .2rem solid #ADFF2F;
    margin-left: -1rem;
    padding-left: .8rem;
}

/* Main navbar */
.main_nav a{
    font-size: .75rem;
    font-weight: 500;
}

.main_nav .nav-item{
    padding-left: .7rem;
    padding-right: .7rem;
}

.main_link_active::after{
    content: "";
    display: block;
    height: .2rem;
    width: 40%;
    margin: auto;
    background-color: #ADFF2F;
    margin-top: -.2rem;
}

/* Recently Played */
.prova{
    height: 80px;
    width: 100%;
    background-color: salmon;
    position: fixed;
    bottom: 0;
}

.card_body{
    font-weight: 600;
}

.card_body h6{
    font-size: .9rem;
    min-width: 11vw;
}

.subtitle{
    font-size: .7rem;
    vertical-align: super;
    line-height: 0rem;
}

/* Popular srction */
.popular_section{
    padding-bottom: 9rem;
}

.popular_section img{
    border-radius: 50%;
}




@media only screen and (max-width: 640px){

    .container_page{
        width: calc(100% - 60px);
        margin-left: 60px;
    }
    .vertical_navbar{
        width: 60px;
        text-align: center;
    }

    .small_none{
        display: none;
    }

    .logo_small{
        display: block;
    }


    

}

@media only screen and (max-width: 576px){  
    h3{
        text-align: center;
    }
}