
/* Rule */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
} 

/* Utility */
.container_page{
    width: calc(100% - 220px);
    margin-left: 220px;
}

.vh100{
   height: calc(100vh - 80px);
}

.br_05{
    filter: brightness(.5);
}

/* Colors */
.bg_black{
    background-color: #000000;
}

.bg_smoke_white{
    background-color: #f5f5f5;
}

.text_smoke_white{
    color: #f5f5f5;
}

.bg_main{
    background-color: #141922;
}

.text_grey{
    color: #797B80;
}

.install_app{
    cursor: pointer;
}

/* Head navbar */
.head_navbar{
    background-color: #0000003f;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
}

#btn_upgrade{
    padding: .5rem 2rem;
    border-radius: 20px;
    font-size: .7rem;
    font-weight: 600;
    transition: .2s;
}

/* Vertical navbar */
.vertical_navbar{
    position: fixed;
    top: 0;
    width: 220px;
    z-index: 99;
}

.nav-link{
    padding: .3rem 0;
    font-size: .8rem;
}

.logo > img{
    height: 2rem;
}

.logo_small{
    display: none;
}

.install_app{
    font-size: .7rem;
}

.user{
    font-size: .8rem;
}

#black_plus{
    color: #000000;
    font-size: 1rem;
    margin-right: .4rem;
    padding: .45rem .65rem;
}

.vertical_link_active{
    border-left: .2rem solid #ADFF2F;
    margin-left: -1rem;
    padding-left: .8rem;
}

/* Main navbar */
.main_nav a{
    font-size: .75rem;
    font-weight: 500;
}

.main_nav .nav-item{
    padding-left: .7rem;
    padding-right: .7rem;
}

.main_link_active::after{
    content: "";
    display: block;
    height: .2rem;
    width: 40%;
    margin: auto;
    background-color: #ADFF2F;
    margin-top: -.2rem;
}

/* Recently Played */
.card_body{
    font-weight: 600;
}

.card_body h6{
    font-size: .9rem;
    min-width: 11vw;
}

.subtitle{
    font-size: .7rem;
    vertical-align: super;
    line-height: 0rem;
}

.play{
    position: relative;
}

.play i{
    font-size: 6vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; 
}   

/* Popular srction */
.popular_section{
    padding-bottom: 9rem;
}

.popular_section img{
    border-radius: 50%;
}

.scroll_playlist{
    height: calc(100vh - 420px);
    overflow-y: auto;
}

/* Footer */
.footer_nav{
    background-color: #282828;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    font-weight: 600;
}

.player{
    cursor: pointer;
}

.song_play{
    display: flex;
    cursor: pointer;
}

.song{
    font-size: .6rem;
    margin-right: 2rem;
}

.song h6{
    font-size: .7rem
}

.song_play img{
    height: 3rem;
}

.progress_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    cursor: pointer;
    position: relative;
}

.progress{
    width: 55%;
    height: .2rem;
    background-color: #797B80;  
}

.play_footer{
    font-size: 1.9rem;
}

.volume_bar{
        justify-content: flex-end;
        margin-top: 32.5px;
        font-size: .9rem;
        cursor: pointer;
}

.time_hover{
    position: absolute;
    left: 30%;
    bottom: 0vw;
    font-size: .9rem;
    visibility: hidden;
}

#volume_hover{
    left: 50%;
}

/* Hover */
.br1:hover{
    filter: brightness(1);
}

#btn_upgrade:hover{
    transform : scale(1.2);
    position: absolute; 
    right: 40px;
}

.play:hover .play_img{
    filter: brightness(.5);
}

.play:hover i{
    display: block;
}

.play_footer:hover{
    transform: scale(1.2);
}

.song_play i:hover, .song_play a:hover{
    color: #ffffff;
}

#under_line:hover{
    border-bottom: 1px solid #ffffff;
}

.progress:hover .progress-bar{
    background-color: #ADFF2F;
}

.progress:hover .time_hover{
    visibility: visible;
}



/* Media Query */
@media only screen and (max-width: 992px){

    #volume_hover{
        left: 10vw;
    }

}

@media only screen and (max-width: 768px){

    .progress_bar .tablet_none{
        display: none;
    }

    .progress_bar .progress{
        width: 100%;
    }

    .song_play .tablet_none{
        display: none; 
    }

    .volume_bar{
        transform: scale(1.2);
    }

    .time_hover{
        left: 17%;
        bottom: -.7vw;
    }

    #volume_hover{
        left: 38%;
        bottom: 0vw;
    }

    .install_app img{
        margin-right: .2rem;
    }
   
}

@media only screen and (max-width: 640px){

    .container_page{
        width: calc(100% - 60px);
        margin-left: 60px;
    }
    .vertical_navbar{
        width: 65px;
        text-align: center;
    }

    .small_none{
        display: none;
    }

    .logo_small{
        display: block;
    }

    .song_play i{
        display: none;
    }

}

@media only screen and (max-width: 576px){  

    h3, h5{
        text-align: center;
    }

    .card_body{
        margin-bottom: 1rem;
    }

    .popular_section h6, .foryou_gallery h6{
        margin-bottom: 1.5rem;
    }

}

@media only screen and (max-width: 500px){

    .player .tablet_none, .volume_bar .progress{
        display: none;
    }

    .volume_bar i{
        transform: scale(1.5);
        padding-right: 1.2rem;
    }

    .col-7{
        width: 50%;
    }

    #btn_upgrade{
        font-size: .5rem;
    }

   .volume_bar .progress{
    transform: rotate(270deg);
    position: absolute;
    bottom: 12vw;
    left: 1vw;
    zoom: 120%;
   }

   .volume_bar:hover .progress{
       display: flex;
   }

}

@media only screen and (max-width: 320px){

    .progress{
        display: none;
    }

    .player{
        transform: scale(.8);
        margin-top: 1rem;
    }

    .play_footer{
        margin-left: .2rem!important;
        margin-right: .2rem!important;
    }

    .song_play img{
        border-radius: 50%;
        height: 17vw;
        transform: scale(.8);
    }

    #btn_upgrade{
        font-size: .3rem;
    }

}



